Here I've tested most basic abilities of pandas

In [6]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in d:\projects\olimps\python\venv\lib\site-packages (1.20.0)
Requirement already satisfied: pandas in d:\projects\olimps\python\venv\lib\site-packages (1.2.1)
Requirement already satisfied: numpy>=1.16.5 in d:\projects\olimps\python\venv\lib\site-packages (from pandas) (1.20.0)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\projects\olimps\python\venv\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in d:\projects\olimps\python\venv\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in d:\projects\olimps\python\venv\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the 'd:\projects\olimps\python\venv\scripts\python.exe -m pip install --upgrade pip' command.
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the 'd:\projects\olimps\python\venv\scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
pd.set_option("display.precision", 2)

In [17]:
data = pd.read_csv("./heart.csv")
print(data.info())
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB
None

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00
mean,54.37,0.68,0.97,131.62,246.26,0.15,0.53,149.65,0.33,1.04,1.40,0.73,2.31,0.54
std,9.08,0.47,1.03,17.54,51.83,0.36,0.53,22.91,0.47,1.16,0.62,1.02,0.61,0.50
min,29.00,0.00,0.00,94.00,126.00,0.00,0.00,71.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,47.50,0.00,0.00,120.00,211.00,0.00,0.00,133.50,0.00,0.00,1.00,0.00,2.00,0.00
50%,55.00,1.00,1.00,130.00,240.00,0.00,1.00,153.00,0.00,0.80,1.00,0.00,2.00,1.00
75%,61.00,1.00,2.00,140.00,274.50,0.00,1.00,166.00,1.00,1.60,2.00,1.00,3.00,1.00
max,77.00,1.00,3.00,200.00,564.00,1.00,2.00,202.00,1.00,6.20,2.00,4.00,3.00,1.00

In [21]:
data[data["target"] == 1].mean()
data.loc[10:20, "age":"sex"]

    age  sex
10   54    1
11   48    0
12   49    1
13   64    1
14   58    0
15   50    0
16   58    0
17   66    0
18   43    1
19   69    0
20   59    1