This is a homework for Topic 1 of MLCourse.ai

https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset

In [4]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in d:\projects\olimps\python\venv\lib\site-packages (1.20.0)
Requirement already satisfied: pandas in d:\projects\olimps\python\venv\lib\site-packages (1.2.1)
Requirement already satisfied: pytz>=2017.3 in d:\projects\olimps\python\venv\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in d:\projects\olimps\python\venv\lib\site-packages (from pandas) (1.20.0)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\projects\olimps\python\venv\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in d:\projects\olimps\python\venv\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the 'd:\projects\olimps\python\venv\scripts\python.exe -m pip install --upgrade pip' command.
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the 'd:\projects\olimps\python\venv\scripts\python.exe -m pip install --upgrade pip' command.

In [5]:
import pandas as pd
import numpy as np
pd.set_option('display.precision', 2)
pd.set_option('display.max_columns', 100)

In [6]:
data = pd.read_csv('./data/adult.csv')
print(data.info())
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.00,3.26e+04,32561.00,32561.00,32561.00,32561.00
mean,38.58,1.90e+05,10.08,1077.65,87.30,40.44
std,13.64,1.06e+05,2.57,7385.29,402.96,12.35
min,17.00,1.23e+04,1.00,0.00,0.00,1.00
25%,28.00,1.18e+05,9.00,0.00,0.00,40.00
50%,37.00,1.78e+05,10.00,0.00,0.00,40.00
75%,48.00,2.37e+05,12.00,0.00,0.00,45.00
max,90.00,1.48e+06,16.00,99999.00,4356.00,99.00