This is a homework for Topic 1 of MLCourse.ai

https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset

In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in d:\projects\olimps\python\venv\lib\site-packages (1.20.0)
Requirement already satisfied: pandas in d:\projects\olimps\python\venv\lib\site-packages (1.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\projects\olimps\python\venv\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in d:\projects\olimps\python\venv\lib\site-packages (from pandas) (1.20.0)
Requirement already satisfied: pytz>=2017.3 in d:\projects\olimps\python\venv\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in d:\projects\olimps\python\venv\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the 'd:\projects\olimps\python\venv\scripts\python.exe -m pip install --upgrade pip' command.
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the 'd:\projects\olimps\python\venv\scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.precision', 2)
pd.set_option('display.max_columns', 100)

In [3]:
data = pd.read_csv('../data/adult.csv')
print(data.info())
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.00,3.26e+04,32561.00,32561.00,32561.00,32561.00
mean,38.58,1.90e+05,10.08,1077.65,87.30,40.44
std,13.64,1.06e+05,2.57,7385.29,402.96,12.35
min,17.00,1.23e+04,1.00,0.00,0.00,1.00
25%,28.00,1.18e+05,9.00,0.00,0.00,40.00
50%,37.00,1.78e+05,10.00,0.00,0.00,40.00
75%,48.00,2.37e+05,12.00,0.00,0.00,45.00
max,90.00,1.48e+06,16.00,99999.00,4356.00,99.00

In [4]:
data["sex"].describe()

count     32561
unique        2
top        Male
freq      21790
Name: sex, dtype: object

In [5]:
data[data["sex"] == "Female"]["age"].describe()

count    10771.00
mean        36.86
std         14.01
min         17.00
25%         25.00
50%         35.00
75%         46.00
max         90.00
Name: age, dtype: float64

In [6]:
data["native-country"].value_counts(normalize=True)

United-States                 8.96e-01
Mexico                        1.97e-02
?                             1.79e-02
Philippines                   6.08e-03
Germany                       4.21e-03
Canada                        3.72e-03
Puerto-Rico                   3.50e-03
El-Salvador                   3.26e-03
India                         3.07e-03
Cuba                          2.92e-03
England                       2.76e-03
Jamaica                       2.49e-03
South                         2.46e-03
China                         2.30e-03
Italy                         2.24e-03
Dominican-Republic            2.15e-03
Vietnam                       2.06e-03
Guatemala                     1.97e-03
Japan                         1.90e-03
Poland                        1.84e-03
Columbia                      1.81e-03
Taiwan                        1.57e-03
Haiti                         1.35e-03
Iran                          1.32e-03
Portugal                      1.14e-03
Nicaragua                     1.04e-03
Peru                          9.52e-04
Greece                        8.91e-04
France                        8.91e-04
Ecuador                       8.60e-04
Ireland                       7.37e-04
Hong                          6.14e-04
Trinadad&Tobago               5.84e-04
Cambodia                      5.84e-04
Thailand                      5.53e-04
Laos                          5.53e-04
Yugoslavia                    4.91e-04
Outlying-US(Guam-USVI-etc)    4.30e-04
Honduras                      3.99e-04
Hungary                       3.99e-04
Scotland                      3.69e-04
Holand-Netherlands            3.07e-05
Name: native-country, dtype: float64

In [7]:
print(data["salary"].value_counts())
print(data[data["salary"] == ">50K"]["age"].describe())
print(data[data["salary"] == "<=50K"]["age"].describe())

<=50K    24720
>50K      7841
Name: salary, dtype: int64
count    7841.00
mean       44.25
std        10.52
min        19.00
25%        36.00
50%        44.00
75%        51.00
max        90.00
Name: age, dtype: float64
count    24720.00
mean        36.78
std         14.02
min         17.00
25%         25.00
50%         34.00
75%         46.00
max         90.00
Name: age, dtype: float64

In [9]:
data[data["salary"] == ">50K"]["education"].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [12]:
data["race"].value_counts()
data[data["race"] == "Amer-Indian-Eskimo"]["age"].max()

82

In [15]:
print(data[data["marital-status"].apply(lambda s: s.startswith("Married"))]["salary"].value_counts(normalize=True))
print(data[data["marital-status"].apply(lambda s: not s.startswith("Married"))]["salary"].value_counts(normalize=True))

<=50K    0.56
>50K     0.44
Name: salary, dtype: float64
<=50K    0.94
>50K     0.06
Name: salary, dtype: float64

In [17]:
print(data["hours-per-week"].max())
l = data[data["hours-per-week"] == data["hours-per-week"].max()]
print(len(l.index))
print(l["salary"].value_counts(normalize=True))

99
85
<=50K    0.71
>50K     0.29
Name: salary, dtype: float64

In [24]:
# data[data["salary"] == ">50K"].groupby(["native-country"])["hours-per-week"].describe()
data[data["salary"] == "<=50K"].groupby(["native-country"])["hours-per-week"].describe()

,count,mean,std,min,25%,50%,75%,max
native-country,,,,,,,,
?,437.0,40.16,12.82,1.0,40.00,40.0,45.00,99.0
Cambodia,12.0,41.42,3.09,40.0,40.00,40.0,40.50,50.0
Canada,82.0,37.91,13.01,8.0,32.75,40.0,40.00,70.0
China,55.0,37.38,11.44,1.0,36.00,40.0,40.00,60.0
Columbia,57.0,38.68,8.61,5.0,40.00,40.0,40.00,60.0
Cuba,70.0,37.99,9.96,5.0,40.00,40.0,40.00,70.0
Dominican-Republic,68.0,42.34,11.12,22.0,40.00,40.0,40.00,98.0
Ecuador,24.0,38.04,10.25,22.0,30.00,40.0,40.00,66.0
El-Salvador,97.0,36.03,9.40,3.0,32.00,40.0,40.00,60.0
England,60.0,40.48,15.18,7.0,40.00,40.0,45.00,99.0
France,17.0,41.06,12.40,15.0,40.00,40.0,50.00,66.0
Germany,93.0,39.14,12.12,6.0,38.00,40.0,45.00,70.0
Greece,21.0,41.81,16.86,4.0,40.00,40.0,55.00,75.0
Guatemala,61.0,39.36,6.57,18.0,40.00,40.0,40.00,60.0
Haiti,40.0,36.33,11.94,10.0,30.00,40.0,40.00,75.0
Holand-Netherlands,1.0,40.00,NaN,40.0,40.00,40.0,40.00,40.0
Honduras,12.0,34.33,8.63,17.0,30.00,37.5,40.00,45.0
Hong,14.0,39.14,4.29,30.0,37.75,40.0,40.00,50.0
Hungary,10.0,31.30,18.60,3.0,20.00,30.0,47.50,60.0
India,60.0,38.23,12.62,8.0,35.00,40.0,40.00,84.0
Iran,25.0,41.44,12.44,6.0,40.00,40.0,48.00,65.0
Ireland,19.0,40.95,7.18,25.0,38.00,40.0,42.00,55.0
Italy,48.0,39.62,15.09,6.0,38.75,40.0,40.00,80.0
Jamaica,71.0,38.24,9.67,10.0,35.00,40.0,40.00,70.0
Japan,38.0,41.00,11.90,10.0,40.00,40.0,41.50,65.0
Laos,16.0,40.38,4.11,31.0,40.00,40.0,40.00,50.0
Mexico,610.0,40.00,10.38,4.0,40.00,40.0,40.00,99.0
Nicaragua,32.0,36.09,8.66,11.0,30.00,40.0,40.00,60.0
Outlying-US(Guam-USVI-etc),14.0,41.86,10.75,24.0,36.25,40.0,50.25,60.0
Peru,29.0,35.07,11.61,4.0,28.00,40.0,40.00,60.0
Philippines,137.0,38.07,11.27,8.0,40.00,40.0,40.00,99.0
Poland,48.0,38.17,12.24,3.0,40.00,40.0,40.00,65.0
Portugal,33.0,41.94,9.06,30.0,40.00,40.0,40.00,84.0
Puerto-Rico,102.0,38.47,9.75,6.0,36.00,40.0,40.00,80.0
Scotland,9.0,39.44,9.17,20.0,40.00,40.0,40.00,55.0
South,64.0,40.16,16.83,4.0,35.00,40.0,48.50,99.0
Taiwan,31.0,33.77,14.27,2.0,20.00,40.0,40.00,60.0
Thailand,15.0,42.87,20.41,10.0,35.00,40.0,52.50,80.0
Trinadad&Tobago,17.0,37.06,12.48,14.0,35.00,40.0,40.00,60.0
United-States,21999.0,38.80,12.40,1.0,35.00,40.0,40.00,99.0
Vietnam,62.0,37.19,12.42,1.0,40.00,40.0,40.00,77.0
Yugoslavia,10.0,41.60,11.31,20.0,40.00,40.0,40.00,66.0